.button-link {
    display: inline-block;
    border-radius: 0.2rem;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    color: #fff; border-radius: 5px;
    border: 2px solid white;
    transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: white;
    color: black;
  }
}
