
@import '../variables';

.container {
    position: relative;
    margin-inline: auto;
    padding-inline: 1rem;
    max-width: 22rem;
    margin-block: 4rem;
}

@media (min-width: $breakpoint-sm) {
    .container {
        max-width: 40rem;
    }
}

@media (min-width: $breakpoint-md) {
    .container {
        max-width: 61rem;
        padding-inline: 2rem;
    }
}

@media (min-width: $breakpoint-lg) {
    .container {
        max-width: 90rem;
        margin-block: 8rem;
    }
}
