
.loading-container {
  display: flex;
  flex-direction: column;
  margin-block: 3rem;
  margin-inline: auto;
  align-items: center;
  justify-content: center;

  .spinner {
    border: 0.25rem solid rgba(255, 255, 255, 0.3);
    border-top: 0.25rem solid rgba(82, 55, 208, 0.8);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    animation: spin 1s linear infinite;
    margin-bottom: 0.62rem;
  }

  p {
    margin: 0;
    font-size: 1rem;
    color: rgba(82, 55, 208, 0.8);
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
